.app-volume-row {
  spacing: 10px;
  min-width: 390px;
}

.app-volume-icon-button {
  padding: 2px;
  border-radius: 999px;
}

.app-volume-icon {
  icon-size: 16px;
}

.app-volume-label {
  width: 120px;
}

.app-volume-output-label {
  max-width: 370px;
}

.app-volume-panel-box {
  spacing: 4px;
}

.app-volume-preset-number {
  font-size: 0.8em;
  min-width: 8px;
}
